<h1><%= @expert.name %></h1>
<dl>
    <dt>url</dt>
    <dd><%= link_to @expert.url, @expert.url %></dd>
    <dt>short url</dt>
    <dd><%= link_to @expert.short_url, @expert.short_url %></dd>
</dl>
<hr>
<div class="row">
    <div class="col">
        <h2>Headlines</h2>
        <ul>
        <% @headlines.each do |h| %>
            <li><%= h.text %></li>
        <% end %>
        </ul>
    </div>
    <div class="col">
        <h2>Friends</h2>
        <%= link_to "manage friends", manage_friends_expert_path(@expert) %>
        <%= render 'friend_list', { friendship: @friendship } %>
    </div>
</div>